[Desktop Entry]
Encoding=UTF-8
Name=Configure Persistence
Comment=Configure Persistence
Exec=gksu persist-config
Icon=preferences-desktop
Terminal=false
Type=Application
Categories=System;
NoDisplay=False
