[Desktop Entry]
Encoding=UTF-8
Name=Remaster
Name[el]=Remaster
Comment=Remaster running live instance
Comment[el]=Κλωνοποίηση του Live System
Exec=gksu live-remaster
Icon=preferences-desktop
Terminal=false
Type=Application
Categories=System;
NoDisplay=False

