[Desktop Entry]
Encoding=UTF-8
Name=RemasterCC 
Comment= Live persistence and remastering tools.
Exec=gksu remastercc.sh
Icon=preferences-desktop
Terminal=false
Type=Application
Categories=System;
NoDisplay=True
